{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <title>Inicio</title>
</head>
<body>
    
    <header>

        <!-- Menu Navegacion-->
        <nav class="menu">
            <div class="logo-box">
                <h1><a href="#">XXXXXXXX</a></h1>
                <span class="btn-menu"><i class="fas fa-bars"></i></span>
            </div>
            <div class="list-container">
                <ul class="lists">
                    <li><a href="#header">Inicio</a></li>
                    <li><a href="#ofertas">Ofertas</a></li>
                    <li><a href="#galeria">Galería</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </div>
        </nav>
        <!-- Menu Navegacion-->

        <!-- IMG Header-->
        <div class="header col-12">
            <img class="col-12" src="https://pavlov.psyciencia.com/2016/10/marihuana_1477580262.jpg" >
            <p>asdasssdsasd</p>
        </div>
        <!-- IMG Header-->
    </header>
    
    <!-- Main -->
    <main>

    </main>
    <!-- Main -->

    <!-- Footer -->
    <footer>
        <div class="partFooter">
            <h4>Nosotros</h4>
            <a href="#">+56 9 1928 8821</a>
            <a href="#">...@gmail.com</a>
            <a href="#">...@gmail.com</a>
        </div>
        <div class="partFooter">
            <h4>Menú</h4>
            <a href="#header">Inicio</a>
            <a href="#ofertas">Ofertas</a>
            <a href="#galeria">Galería</a>
            <a href="#contacto">Contacto</a>
        </div>
        <div class="partFooter">
            <h4>Redes Sociales</h4>
            <div class="social-media">
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://es-la.facebook.com/" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/?hl=es-la" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </footer>
    <!-- Footer -->
    
    <!-- Fonsawesome -->
    <script src="https://kit.fontawesome.com/5ca8ccdd64.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
